<div class="details Ta-c" style="width: 50%; margin: 0 auto;">
    <h3 class="Ta-c">Yay, We’re Happy You’ll Be Attending!</h3>
    <img src="/img/akshali.jpg" class="pure-img"/>
    <p class="pure-g-r">
        <span class="pure-u-1-1">
            <button class="pure-button">Edit RSVP</button>
            <button class="pure-button pure-button-primary">Done</button>
        </span>
    </p>
</div>