<div class="rsvp">
    <div data-view="attending">
         <h3>Yay, We’re Happy You’ll Be Attending!</h3>

        {{#with invitation}}
        <div class="details">
            <p class="pure-g-r">
                <span class="pure-u-1-1">{{../status}}</span>
                <span class="pure-u-1-3">
                    <button class="pure-button">Edit</button>
                    <button class="pure-button pure-button-primary">Done</button>
                </span>
            </p>
        </div>
        {{/with}}
    </div>
</div>