{{#is type "error"}}
    <p class="Ta-c alert alert-{{type}}">{{{message}}}</p>
{{else}}
    <h3 class="Ta-c">Yay, We’re Happy You’ll Be Attending!</h3>
    <p class="Ta-c">
        <a href="/rsvp/?edit=1" class="pure-button">Edit RSVP</a>
        <a href="/" class="pure-button pure-button-primary">Done</a>
    </p>
    <img src="/img/akshali.jpg" class="pure-img Mx-auto Py-10" style="width: 60%"/>
{{/is}}
