<div class="details Ta-c" style="width: 50%; margin: 0 auto;">
    <h3 class="Ta-c">We’re Sorry You Won’t Be Attending</h3>
    <img src="/img/sadcat.jpg" class="pure-img"/>
    <p style="margin-bottom: 20px;">You’ll be missed during the celebration. Please contact us if this is a mistake and you will be attending.</p>
    <a href="mailto:rsvp@akshali.me" class="pure-button pure-button-primary">Email Us!</a>
</div>
