<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Vaishali + Akshay</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/combo?css/vendor.css&/css/style.css" type="text/css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Quantico" type="text/css">
    <link rel="index" title="{title}" href="http://www.akshali.me">
</head>
<body>
<div id="doc" class="pure-g-r">
    <div id="main" class="pure-u-1-1">
        {{{body}}}
    </div>
</div>
<script src="/combo?js/vendor.js"></script>
</body>
</html>