<h1>#GameOver #Akshali</h1>
<div class="details">
    <dl>
        <dt><h3>Save the Date!</h3></dt>
        <dt>Where? When?</dt>
        <dd>San Francisco Bay Area,</dd>
        <dd>November 1st, 2014</dd>
        <dd><img src="/img/bay.jpg"/></dd>
    </dl>
    <p>Details coming soon!</p>
</div>