<div class="banner">
    <img src="/img/gm.jpg" alt="" class="header-photo shake pure-img">
    <span class="hashtag Ta-c">
        <time class="D-b">11.1.14</time>
        <i>#akshali #gameover</i>
    </span>
</div>
<div class="details Ta-c">
    <h2>Our Story</h2>
    <p class="Mw-800">We met through common friends. We started talking. We got along.</p>
    <p class="Mw-800">He's a nerd. She actually enjoys keeping up with it. She likes to talk. He enjoys listening.</p>
    <p class="Mw-800">We love food. We love to travel. We love pictures. We love lolcats. Sounds like a recipe for a happily ever after.</p>
</div>
<div class="us pure-g">
    <div class="pure-u-1-2">
        <img src="/img/vaishali.jpg" title="Vaishali" class="Fl-r round-l-img pure-img"/>
    </div>
    <div class="pure-u-1-2">
        <img src="/img/akshay.jpg" title="Akshay" class="round-l-img pure-img"/>
    </div>
</div>
<div id="timeline">
    <div class="year">2010</div>
    <div class="timeline-block cf">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <h3>Akshay Moves to Los Angeles</h3>
            <p>He graduated from Gerogia Tech, and moved out to the best coast to work at Yahoo in sunny SoCal.</p>
            <div id="la-map-1" data-map="akshayp.j8gi9ef6" data-zoom="8" class="map-s" data-long="-118.32762" data-lat="34.0356"></div>
            <time>Jan, 2010</time>
        </div>
    </div>
    <div class="timeline-block cf Neg-30">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <h3>Vaishali Moves to Atlanta</h3>
            <p>She graduated from OSU, and moved to the dirty south to start at IBM. This is where she became friends with Akshay's college friends.</p>
            <div id="atl-map-1" data-map="akshayp.j8gi9ef6" data-zoom="8" class="map-s" data-long="-84.4206" data-lat="33.767713"></div>
            <time>Aug, 2010</time>
        </div>
    </div>

    <div class="year">2011</div>
    <div class="timeline-block cf">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <h3>They First Met</h3>
            <p>Vaishali and Akshay's common friend Saloni convinced Vaishali to visit LA.  Even though it was raining in usually sunny LA, it turned out to be weekend full of wine, food and awesomeness. Thanks Saloni - we wouldn't have made it this far without you! <img src="/img/knots.jpg"/ class="pure-img"></p>
            <time>Feb 18, 2011</time>
        </div>
    </div>
    <div class="timeline-block cf Neg-40">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <h3>Vaishali Moves to Los Angeles</h3>
            <p>She was looking to switch jobs, and found something "sweet" at Nestlé and moved out to the best coast.</p>
            <div id="la-map-2" data-map="akshayp.j8gi9ef6" data-zoom="9" class="map-s" data-long="-118.32762" data-lat="34.0356"></div>
            <time>Oct, 2011</time>
        </div>
    </div>

    <div class="year">2012</div>
    <div class="timeline-block cf">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <h3>Love was in the air <em class="heart">♥</em></h3>
            <p>Fate brought them to the same city.  And it all fell in place.<img src="/img/lalove.jpg" / class="pure-img"><img src="/img/joseandres.jpg" / class="pure-img"></p>
            <time>Everyday in 2012</time>
        </div>
    </div>
    <div class="timeline-block cf Neg-60">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <h3>Vaishali tells Papa T about Akshay</h3>
            <p>It was time for Vaishali to woman up and tell her father about the other man in her life. <img src="/img/papat.jpg"class="pure-img" /></p>
            <time>Nov, 2012</time>
        </div>
    </div>

    <div class="year">2013</div>
    <div class="timeline-block cf">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <h3>Thier Parents Met</h3>
            <p>This is when the real #gameover begins. <img src="/img/parents.jpg" / class="pure-img"></p>
            <time>Jun 15, 2013</time>
        </div>
    </div>
    <div class="timeline-block cf Neg-30">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <h3>They moved to NorCal!</h3>
            <p>On a quest to complete becoming hipsters they decided it was time.</p>
            <div id="norcal-map" data-map="akshayp.j8gi9ef6" data-zoom="9" class="map-s"></div>
            <time>Nov 2, 2013</time>
        </div>
    </div>
    <div class="timeline-block cf">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <h3>The Ring</h3>
            <p>While Vaishali was at an offsite with her new team, Akshay was out hoping to find the ring. Which he did! <img src="/img/emkay.jpg" / class="pure-img"></p>
            <time>Nov 9, 2013</time>
        </div>
    </div>
    <div class="timeline-block cf Neg-25">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <h3>The Proposal!</h3>
            <p>Akshay convinced Vaishali that Chirag (Akshay's little brother) wanted to enjoy some wine in Napa since he had just turned 21.  He was in the Bay Area for an interview.  Little did she know that he had looked into tour details at Domaine Carneros, followed by reservations to celebrate at Marimoto that night.  Needless to say, the surprise and day were nothing short of perfect :) <img src="/img/engaged.jpg" / class="pure-img"></p>
            <time>Nov 16, 2013</time>
        </div>
    </div>

</div>