<h1>#GameOver #Akshali</h1>
<div class="details">
    <dl>
        <dt><h3>Save the Date!</h3></dt>
        <dt>Where? When?</dt>
        <dd>San Francisco Bay Area,</dd>
        <dd>November 1st, 2014 <a href="http://www.google.com/calendar/event?action=TEMPLATE&text=Save%20the%20Date%3A%20Akshali%20Wedding%20and%20Reception&dates=20141101/20141101&details=&location=San%20Mateo%2C%20CA&trp=false&sprop=&sprop=name:http%3A%2F%2Fakshali.me" target="_blank" title="Add to Google Calendar"><img src="/img/cal.png"></a></dd>
        <dd><img src="/img/bay.jpg"/></dd>
    </dl>
    <p>Details coming soon!</p>
</div>