<div class="logistics">
    <div class="">
        <h2>Accommodations</h2>
        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-2-3">
                <p><img src="/img/marriott.jpg" class="pure-img"/></p>
            </div>
            <div class="pure-u-1 pure-u-md-1-3">
                <div id="hotel-map" data-map="akshayp.j56ilhig" data-zoom="13" class="map-m"></div>
            </div>
        </div>
        <p>All events will be hosted at the San Mateo Marriot. If you'd like to be where all the action happens, Wedding party rates are available via <a href="http://bit.ly/akshalihotel" target="_blank">http://bit.ly/akshalihotel</a> or you can also call the Hotel at <a href="tel:+16506536000">1-650-653-6000</a> and ask for the Thirwani-Patel room block by October 3rd, 2014. Self parking during all our events is complimentary, and the hotel has shuttles to and from SFO as well!</p>
    </div>
    <div class="to-do">
        <h2>To Do</h2>
        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-3">
                <div class="Px-10">
                    <h4>San Francisco</h4>
                    <p>A quick 20 min drive away you can enjoy all the touristy things San Francisco has to offer.</p>
                    <img src="/img/gg.jpg" class="pure-img"/>
                </div>
            </div>
            <div class="pure-u-1 pure-u-md-1-3">
                <div class="Px-10">
                    <h4>Japanese Gardens</h4>
                    <p>In the middle of San Mateo are some of the nicest gardens in the Bay Area.</p>
                    <img src="/img/gardens.jpg" class="pure-img"/>
                </div>
            </div>
            <div class="pure-u-1 pure-u-md-1-3">
                <div class="Px-10">
                    <h4>Levi's Stadium</h4>
                    <p>Check out the new state of the art home of the 49ers with a guided tour in Santa Clara.</p>
                    <img src="/img/levis.jpg" class="pure-img"/>
                </div>
            </div>
        </div>
    </div>
    <div class="to-eat">
        <h2>To Eat</h2>
        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-3">
                <div class="Px-10">
                    <h4>Curry Up Now</h4>
                    <p>Fusion Indian Street Food, this is one of our personal favorites.</p>
                    <address>29 S B St, San Mateo, CA 94401</address>
                    <img src="/img/curryupnow.jpg" class="pure-img"/>
                </div>
            </div>
            <div class="pure-u-1 pure-u-md-1-3">
                <div class="Px-10">
                    <h4>Ramen Dojo</h4>
                    <p>Rated one of the best Ramen places in the bay area.</p>
                    <address>805 S B St San Mateo, CA 94401</address>
                    <img src="/img/ramen.jpg" class="pure-img"/>
                </div>
            </div>
            <div class="pure-u-1 pure-u-md-1-3">
                <div class="Px-10">
                    <h4>Mingalaba</h4>
                    <p>Tea Leaf Salad and Sambusa Soup go a long way here.</p>
                    <address>1213 Burlingame Ave, CA 94010</address>
                    <img src="/img/mingalaba.jpg" class="pure-img"/>
                </div>
            </div>
        </div>
    </div>
</div>