<div class="banner registry">
    <img src="/img/gift.jpg" alt="" class="header-photo pure-img">
</div>
<div class="details">
    <p>Now, we truly don’t need anything but your presence at our wedding. The party wouldn't be the same without you, and it would mean the world to us to have you there. But if you believe in the tradition of helping the newlyweds on their path of love and happiness, we thank you so very much.</p>
</div>