<div class="banner registry">
    <img src="/img/gift.jpg" alt="" class="header-photo pure-img">
</div>

<div class="pure-g details Mw-800">
    <div class="pure-u-1 pure-u-md-1-2">
        <div class="P-15">
            <p>Now, we truly don’t need anything but your presence at our wedding. The party wouldn't be the same without you, and it would mean the world to us to have you there. But if you believe in the tradition of helping the newlyweds on their path of love and happiness, we thank you so very much, we will gladly accept cash presents.</p>
            <p class="Fw-b">No boxed gifts please.</p>
        </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
        <div class="P-15 accent">
            <a href="http://www.charitywater.org/" class="charitywater D-ib" target="_blank"><img src="/img/charitywater.jpg" alt="Charity Water"/></a>
            <p>As an alternative we would be honored to have donations made to a charity in which we’re involved:</p>
            <p>Charity: water is the partner of <a href="http://charitywater.drinksoma.com" target="_blank">Soma</a>, the startup Vaishali works at. Everyone deserves to have water, but it’s not that easy. 800 million people lack access to clean, safe drinking water. You can help.</p>
            <a href="https://my.charitywater.org/akshalis-wedding-well-campaign" class="donate-now Fw-b D-ib" target="_blank">Donate Now</a>
        </div>
    </div>
</div>