<div class="rsvp Px-10">
    {{#is invitation.attending true}}
        {{#is editing true}}
            {{> rsvp-form}}
        {{else}}
            {{> attending}}
        {{/is}}
    {{else}}
        {{#is invitation.attending false}}
            {{> notattending}}
        {{else}}
            {{> rsvp-form}}
        {{/is}}
    {{/is}}    
</div>