<div id="map" class="map-l" data-map="akshayp.j56ilhig"></div>
<div class="details mehndi Ta-c">
    <h2>Mehndi + Sangeet</h2>
    <dl class="pure-u-1 pure-u-md-2-3">
        <dt>What:</dt>
        <dd>We want to make sure both sides of the family get to mingle before our big day. Expect an evening of <a href="http://en.wikipedia.org/wiki/Mehndi">mehndi (henna)</a> for the ladies, karaoke, food and drinks.</dd>
        <dt>When:</dt>
        <dd>Oct 31, 2014, 6:30pm onwards</dd>
        <dt>Where:</dt>
        <dd>Engage Ballroom</dd>
    </dl>
</div>
<div class="details ceremony Ta-c LightText">
    <h2>Ceremony</h2>
    <dl class="pure-u-1 pure-u-md-2-3">
        <dt>What:</dt>
        <dd>The <a href="http://en.wikipedia.org/wiki/Baraat">Baraat</a> will start at 2.30 promptly followed by the actual ceremony, <a href="http://en.wikipedia.org/wiki/Hindu_wedding">Indian style</a>.</dd>
        <dt>When:</dt>
        <dd>Nov 1, 2014, 2:30pm</dd>
        <dt>Where:</dt>
        <dd>Outdoor Courtyard</dd>
    </dl>
</div>
<div class="details cocktails Ta-c LightText">
    <h2>Cocktail Hour</h2>
    <dl class="pure-u-1 pure-u-md-2-3">
        <dt>What:</dt>
        <dd>Enjoy some delicious appetizers and drink a lot of cocktails so you are prepared for all the speeches that you will have to listen to an hour later.</dd>
        <dt>When:</dt>
        <dd>Nov 1, 2014, 6-7pm</dd>
        <dt>Where:</dt>
        <dd>Convene Ballroom Lobby</dd>
    </dl>
</div>
<div class="details reception Ta-c LightText">
    <h2>Reception</h2>
    <dl class="pure-u-1 pure-u-md-2-3">
        <dt>What:</dt>
        <dd>We think you know what to expect here ;)</dd>
        <dt>When:</dt>
        <dd>Nov 1, 2014, 7pm onwards</dd>
        <dt>Where:</dt>
        <dd>Convene Ballroom</dd>
    </dl>
</div>