html {
    font-size: 62.5%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}

body {
    background: #FCFCF7;
    font-size: 1.4rem;
    color: #696262;
}

a {
    color: #00E;
}

h1 {
    text-transform: uppercase;
    display: inline-block;
}

h2 {
    text-transform: uppercase;
    font-size: 4rem;
    margin: 0.2em 0;
    text-align: center;
}

h4 {
    font-size: 2rem;
    margin: 0;
}

address {
    font-weight: 200;
    font-size: 1.5rem;
    margin: 0 0 10px;
}

p {
    font-size: 1.5rem;
}

header {
    background: #000;
    overflow: hidden;    
    padding: 0 6% 0 18%;
}

header > a {
    float: left;
    display: inline-block;
}

header a {
    text-decoration: none;
}

header a:hover,
header li.active a {
    color: #9A9A9A;
}

nav {
    display: inline-block;
    float: right;
    font-size: 2rem;
    margin: 0.47em 0 0;
}

nav ul {
    margin: 0.85em 0;
}

nav li {
    display: inline-block;
    margin-left: 30px;
    font-weight: bold;
    list-style: none;
}

.menu-link {
    display: none;
    background-color: #191818;
    background: linear-gradient(#4D4D4D, #2F2F2F);
    padding: 0.5em 1em;
    width: 20px;
    margin-top: 8px;
    float: right;
}

.right {
    float: right;
}

.Ta-c {
    text-align: center;
}

.Ta-l {
    text-align: left;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.round-l-img {
    border-radius: 50%;
    border: 5px solid #FFF;
    max-height: 350px;
    margin: 10px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.heart {
    color: #F07677;
    font-style: normal;
}

.map-l {
    width:100%;
    height: 400px;
}

.map-m {
    width:100%;
    height: 340px;
}

.map-s {
    width: 100%;
    height: 250px;
}

.accent {
    border-top: 1px solid #DDD;
}

.shake {
  -webkit-animation-name: shake;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: shake;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.banner {
    height: 535px;
    overflow: hidden;
    position: relative;
}

.show {
    display: block;
}

.banner img {
    position: absolute;
    top: -250px;
    left: 0;
}

.banner .hashtag {
    position: absolute;
    top: 30%;
    font-size: 10rem;
    right: 10%;
    line-height: 0.7;
    color: #00686B;
}

.banner .hashtag time {
    display: block;
}

.banner .hashtag i {
    font-size: 4rem;
}

a.donate-now {
    color: #FFF;
    font-family: "Proxima-Nova-n6","Proxima-Nova-1","Proxima-Nova-2","Proxima Nova",sans-serif;
    background: #59C77F;
    padding: 1em 2em;
    border-radius: 5px;
    letter-spacing: .05em;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    margin-top: 1em;
}

.charitywater img {
    display: inline-block;
    height: 40px;
}

.details {
    color: #222;
    padding: 30px 20px;
}

.LightText,
.LightText a {
    color: #FFF;
}

.P-15 {
    padding: 15px;
}

/* End Util Classes */

.us {
    margin-bottom: 20px;
}

.registry {
    height: 335px;
}

.registry img {
    top: -80px;
}

.details dl {
    font-size: 2rem;
    text-align: left;
    margin: 0;
}

.details dd {
    margin: 0 0 10px 72px;
}

.details dt {
    float: left;
    margin-right: 10px;
    font-weight: bold;
}

.details p,
.Mw-800 {
    max-width: 800px;
    margin: 0 auto;
}

.to-do .info,
.to-eat .info {
    padding: 0 10px;
}

.logistics .to-do p,
.logistics .to-eat p {
    margin: 10px 0;
}

.logistics,
.rsvp {
    max-width: 980px;
    margin: 0 auto;
}

.rsvp {
    margin-top: 20px;
}

.rsvp h3 {
    text-align: center;
}

.rsvp form {
    font-size: 2rem;
}

.pure-form-aligned .pure-control-group .input-wide {
    width: 20em;
    text-align: left;
    display: block;
    margin-bottom: 10px;
}

.rsvp .submit-wide {
    margin-left: 1.2em;
}

.pure-form-aligned .pure-control-group {
    margin-bottom: 1em;
}

.logistics .pure-g {
    margin: 20px 0;
}

.logistics p {
    margin: 0 10px;
    font-size: 1.75rem;
}

.logistics p img {
    margin-bottom: 10px;
}

.details a {
    font-weight: bold;
    text-decoration: underline;
}

.ceremony {
    background: #000;
}

.cocktails {
    background: #1F8DD6;
}

.reception {
    background: #2D3E50;
}

#timeline {
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-bottom: 5em;
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

#timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #F07677;
}

#timeline::after {
    content: '♥';
    display: table;
    clear: both;
    position: absolute;
    top: -40px;
    left: 5px;
    font-size: 40px;
    height: 100%;
    color: #F07677;
}

#timeline .year {
    background-color: #F07677;
    font-size: 2rem;
    border-radius: 10px;
    color: #FFF;
    display: inline-block;
    margin: 1em auto;
    width: auto;
    padding: 0 20px;
    position: relative;
    left: 46%;
    top: 10px;
}

.timeline-marker {
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 17px;
    top: 15%;
    margin-left: -12px;
    margin-top: -12px;
    background-clip: padding-box;
    background-color: #FFF;
    border: 3px solid #F07677;
    border-radius: 50%;
}

.timeline-block {
    position: relative;
    margin: 1em 0;
}

.timeline-content {
    border: 1px solid #E5E5DF;
    position: relative;
    margin-left: 60px;
    background: white;
    border-radius: 0.25em;
    padding: 1em;
}

.timeline-content h3 {
    color: #303e49;
    margin: 0 0 0.2em;
}

.timeline-content p,
.timeline-content time {
    font-size: 1rem;
}

.timeline-content img {
    margin-top: 5px;
}

.timeline-content p {
    margin: 0 0 1em;
    line-height: 1.6;
}

.timeline-content time {
    display: inline-block;
    opacity: .7;
}

.timeline-content::before,
.timeline-content::after {
    content: '';
    position: absolute;
    top: 15%;
    left: -22px;
    height: 0;
    width: 0;
    border: solid transparent;
    display: table;
    clear: both;
}

.timeline-content:after {
    border-right-color: #FFF;
    border-width: 11px;
    margin-top: -11px;
}

.timeline-content:before {
    border-right-color: #E5E5DF;
    border-width: 10px;
    margin-top: -10px;
}

/* Screens ≥ 1024px*/
@media screen and (min-width: 64em) {
    #timeline::before { left: 50%; margin-left: -2px; }
    #timeline::after { left: 50%; top: -42px; margin-left: -17px; }

    .timeline-marker {
        left: 50%;
        margin-left: -15px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
    
    .timeline-marker.is-hidden {
        visibility: hidden;
    }
    
    .timeline-marker.bounce-in {
        visibility: visible;
        -webkit-animation: bounce-in 0.6s;
        animation: bounce-in 0.6s;
    }

    .timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 42%;
    }
    .timeline-content::before,
    .timeline-content::after {
        top: 15%;
        left: 100%;
        border-color: transparent;
        border-left-color: #E5E5DF;
        border-width: 11px;
        margin-top: -11px;
    }
    
    .timeline-content::after {
        border-left-color: #FFF;
        border-width: 10px;
        margin-top: -10px;
    }

    .timeline-block:nth-child(odd) .timeline-content::before,
    .timeline-block:nth-child(odd) .timeline-content::after {
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: #E5E5DF;
    }
    .timeline-block:nth-child(odd) .timeline-content::after {
        border-right-color: #FFF;
    }

    .timeline-content time {
        width: 100%;
        font-size: 2rem;
    }
    
    .timeline-block:nth-child(odd) .timeline-content {
        float: right;
    }

    .Neg-25 {
        margin-top: -25%;
    }
    
    .Neg-30 {
        margin-top: -30%;
    }

    .Neg-40 {
        margin-top: -40%;
    }
  
    .Neg-60 {
        margin-top: -60%;
    }

    .timeline-block:nth-child(odd) .timeline-content time {
        text-align: right;
    }

    .timeline-content.is-hidden {
        visibility: hidden;
    }
    .timeline-content.bounce-in {
        visibility: visible;
        -webkit-animation: bounce 0.6s;
        animation: bounce 0.6s;
    }
    .timeline-block:nth-child(odd) .timeline-content.bounce-in {
        -webkit-animation: bounce-inverse 0.6s;
        animation: bounce-inverse 0.6s;
    }
}

/* Screens ≥ 768px */
@media screen and (min-width: 48em) {
    .accent { border: none; border-left: 1px solid #DDD; }
    .timeline-content h3 { font-size: 2.5rem; }
    .timeline-content p,
    .timeline-content time { font-size: 1.5rem; }
}

/*Tablet Portrait Overrides*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation:portrait)  {
    header { padding: 0 3%; }
    h1, nav { font-size: 1.8rem; }
    h1 { line-height: 3; }
    .banner { height: 335px; }
    .banner img { top: -100px; }
    .banner .hashtag { font-size: 5rem; }
    .banner .hashtag i { font-size: 3rem; }
    .map-m { height: 265px; }
    .registry img { top: 0; }
}

/* Tablet Landscape overrides*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    #timeline::after { margin-left: -15px; }
    header { padding: 0 5%; }
    .banner img { top: -180px; }
    .banner { height: 400px; }
    .registry img { top: 0; }
}

/* iPhone */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
    header { padding: 0 1% 0 5%; }
    .menu-link { display: block; }
    nav { display: none; margin: 0; font-size: 1.5rem; width: 100%; }
    nav ul { margin: 0; padding: 0; }
    nav li { display: block; margin: 5px 0; border-top: 1px solid #666; padding: 5px; }
    h1 { font-size: 1.6rem; }
    h2 { font-size: 1.5rem; }
    .banner { height: 140px; }
    .banner img { top: -50px; }
    .banner .hashtag { font-size: 2.5rem; }
    .banner .hashtag i { font-size: 1.2rem; }
    h4 { font-size: 1.3rem; margin: 0.5em;}
    .registry { height: 120px; }
    .registry img { top: -10px; }
    .map-l { height: 200px; }
    .details { padding: 10px 20px; }
    .details dl { font-size: 1.4rem; margin-top: 10px; }
    .details dd { margin-left: 58px; }
    .round-l-img { height: 125px; }
}

/* iPhone Landscape overrides */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation:landscape) {
    .registry { height: 170px; }
    .banner { height: 250px; }
    .banner img { top: -100px; }
}

/* iPhone >5 overrides */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-device-pixel-ratio: 2)
and (device-aspect-ratio: 40/71)
and (orientation:portrait) {

}