<div class="rsvp">
    <h3>We’re Sorry You Won’t Be Attending.</h3>
    <div class="details" style="width: 50%; margin: 0 auto;">
        <p style="margin-bottom: 20px;">You’ll be missed during the celebration. Please contact us if this is a mistake and you will be attending</p>
        <a href="mailto:rsvp@akshali.me" class="pure-button pure-button-primary">Email Us!</a>
    </div>
</div>