<tr>
    <td>
        <table border="0" cellpadding="0" cellspacing="0" width="80%" align="center">
            <tr>
                <td>Hi <b>{{name}}</b>,</td>
            </tr>
            <tr>
                <td style="padding: 10px 0 10px 0;">
                Yay, we're happy you'll be attending! Everything is set with your invitation response. If you need to adjust anything, you can edit your RSVP response on <a href="http://akshali.me/rsvp">our website</a>.
                </td>
            </tr>
            <tr>
                <td style="padding: 10px 0 10px 0;"><b><span style="color: #F07677;">♥</span> Akshali</b></td>
            </tr>
        </table>
    </td>
</tr>