<tr>
    <td>
        <table border="0" cellpadding="0" cellspacing="0" width="80%" align="center">
            <tr>
                <td>Hi <b>{{name}}</b>,</td>
            </tr>
            <tr>
                <td style="padding: 10px 0 10px 0;">
                    Just a friendly reminder that our big weekend is almost here. You can find all the details of our big day on <a href="http://akshali.me/wedding/">our website.</a> We look forward to seeing you soon!</a>
                </td>
            </tr>
            <tr>
                <td style="padding: 10px 0 10px 0;"><b><span style="color: #F07677;">♥</span> Akshali</b></td>
            </tr>
        </table>
    </td>
</tr>