<img src="/img/emailbanner.jpg" width="100%"/>

Hi {{name}},

Together with our families, we are pleased to invite you to our wedding. Unlike most weddings, we decided to save some trees and go with a more streamlined process of letting you know that we would be delighted to share our special day with you.

At anytime, you can RSVP on our website using your special link:
http://akshali.me/rsvp/{{invitation}}

We put together all the information we think you'll need for our wedding on <a href="http://akshali.me">our website</a>, including: dates and times, venue, hotel information, and things to do when you're in town


We hope to see you there!

♥ - Vaishali and Akshay